<!-- chemistry -->
<div *ngIf="subject=='chemistry'">
    <mat-toolbar color="primary">

        <button mat-icon-button class="back-button" aria-label="Example icon-button with heart icon">
            <a href="/home">
                <mat-icon class="btn1">arrow_circle_left</mat-icon>
            </a>
        </button>




        <button mat-icon-button class="account-button" aria-label="Example icon-button with share icon">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>



    <img src="/assets/img/books.jpg" alt="Snow" style="width:100%;">
    <div class="chemistry-line">Chemistry</div>



    <div class="card">
        <div class="card-header"> Unit-1</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">20 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-2</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">25 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-3</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">30 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-4</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">35 min</h6>
        </div>
    </div>

</div>

<!-- chemistry end here -->


<!-- mathematics start here -->

<div *ngIf="subject=='maths'">
    <mat-toolbar color="primary">

        <button mat-icon-button class="back-button" aria-label="Example icon-button with heart icon">
            <mat-icon class="btn1">arrow_circle_left</mat-icon>
        </button>

        <button mat-icon-button class="account-button" aria-label="Example icon-button with share icon">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>



    <img src="/assets/img/books.jpg" alt="Snow" style="width:100%;">
    <div class="mathematics-line">Mathematics</div>



    <div class="card">
        <div class="card-header"> Unit-1</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">20 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-2</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">25 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-3</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">30 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-4</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">35 min</h6>
        </div>
    </div>
</div>
<!-- mathematics end here -->


<!-- physics start here -->
<div *ngIf="subject=='physics'">
    <mat-toolbar color="primary">

        <button mat-icon-button class="back-button" aria-label="Example icon-button with heart icon">
            <mat-icon class="btn1">arrow_circle_left</mat-icon>
        </button>

        <button mat-icon-button class="account-button" aria-label="Example icon-button with share icon">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>



    <img src="/assets/img/books.jpg" alt="Snow" style="width:100%;">
    <div class="Physics-line">Physics</div>



    <div class="card">
        <div class="card-header"> Unit-1</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">20 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-2</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">25 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-3</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">30 min</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-header"> Unit-4</div>
        <div class="card-body">
            <h2 class="card-title">Introduction</h2>
            <h6 class="min">35 min</h6>
        </div>
    </div>
</div>
<!-- physics end here -->