@light-gray: rgb(228, 227, 227);
@white: #fff;
@blue: #3F51B5;
@blue1 :#6573c2;


mat-grid-list{
  
    background: @blue;
    background-image: linear-gradient(to right, @blue1, @blue);
    border-radius: 25px;
    color: @white;
    font-size: 30px;
    text-align: left;
    left: -210;

}
mat-grid-tile{
    left: -210px;
}
