@light-gray: rgb(228, 227, 227);
@white: #fff;
@blue: #3F51B5;
@blue1 :#6573c2;


mat-grid-list{
  
    background: @blue;
    background-image: linear-gradient(to right, @blue1, @blue);
    border-radius: 25px;
    color: @white;
    font-size: 30px;
    text-align: left;
    left: -210;

}
mat-grid-tile{
    left: -210px;
}

.carousel-item{
    height: 350px;
}

.home-container mat-card {
    border: none;
    width: 29%;
    display: inline-block;
    box-shadow: none;
    padding: 1px;
  }

  .home-container mat-card div {
    width: 100%;
  
    border-radius: 215px;
    // border: .01em solid gray;
    /* height: 260px; */
    overflow: hidden;
  }

  .home-container mat-card div img {
    width: 100%;
  }

  .home-container mat-card h4 {
    width: 100%;
    font-size: 1em;
    margin-top: 17px;
  }

  .carousel-inner .carousel-item  .carousel-caption h5{
     bottom: 200px;
  }