<h5>Mobile phone verification</h5>

<section class="mobile-text">Enter the code we just send on your mobile
    phone <b class="text-danger"> <br>+91 *** *** 1234</b>
</section>


    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter OTP</mat-label>
            <input matInput #message maxlength="1" placeholder="****" class="otp">
        </mat-form-field>
    </form>
    

    <section class="bottom1">
    <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span> <a href="#"><i>Resend</i></a>
       </div>

       <div class="verify-button">
        <a href="/home"> <button mat-raised-button color="primary">Verify</button></a>
    </div>
</section>